html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling if elements overflow */
}

/* Ensure html and body fill the viewport */
html, body {
  width: 100%;
  height: 100%;
}

/* Set your app's main container to also fill the available space */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body {
  background-image: url("../public/portfolio-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

@font-face {
  font-family: 'Eighties';
  src: url('../public/EightiesComeback_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lingkawi';
  src: url('../public/LingkawiSouth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Banner {
  font-family: 'Eighties';
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tagline {
  position: absolute;
  margin-top: 110px;
  margin-left: 125px;
  transform: scaleX(1.1) scaleY(2.5); /* Stretches text 150% horizontally */
  width: 2000px;
  font-size: 3vw;
}

.highlight1 {
  color: #F15A24;
}
.highlight2 {
  color: #39B54A;
}
.highlight3 {
  color: #29ABE2;
}

.initial {
  font-family: 'Lingkawi';
  font-size: 8vw;
  white-space: nowrap;
}

.initial-container {
  font-family: 'Lingkawi';
  position: absolute;
  overflow: hidden;
  top: 82vh; /* Center vertically */
  left: 83vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjusts position to truly center the element */
  text-align: center; /* Ensures text is centered within */
  height: 200px; /* Or adjust according to your design needs */
  width: 100vw;
}
