html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling if elements overflow */
  scroll-behavior: smooth;
}

/* Ensure html and body fill the viewport */
html, body {
  width: 100%;
  height: 100%;
}

/* Set your app's main container to also fill the available space */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body {
  background-image: url("../public/portfolio-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

@font-face {
  font-family: 'Eighties';
  src: url('../public/EightiesComeback_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono-ExtraBold';
  src: url('../public/JetBrainsMono-ExtraBold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lingkawi';
  src: url('../public/LingkawiSouth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Synthemesc';
  src: url('../public/Synthemesc-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Banner {
  font-family: 'Eighties';
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tagline {
  position: absolute;
  margin-top: 110px;
  margin-left: 125px;
  transform: scaleX(1.1) scaleY(2.5); /* Stretches text 150% horizontally */
  width: 2000px;
  font-size: 3vw;
}

.highlight1 {
  color: #F15A24;
}
.highlight2 {
  color: #39B54A;
}
.highlight3 {
  color: #29ABE2;
}

.initial {
  font-family: 'Lingkawi';
  font-size: 8vw;
  white-space: nowrap;
  color: aliceblue;
}

.initial-container {
  font-family: 'Lingkawi';
  position: absolute;
  overflow: hidden;
  top: 82vh; /* Center vertically */
  left: 83vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjusts position to truly center the element */
  text-align: center; /* Ensures text is centered within */
  height: 200px; /* Or adjust according to your design needs */
  width: 100vw;
}

.Projects {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Takes full height of the viewport */
  text-align: center; /* Centers the text inside the h1 element */
}

.About {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Takes full height of the viewport */
  text-align: center; /* Centers the text inside the h1 element */
}


.snap-container {
  /* This enables vertical scroll snapping */
  scroll-snap-type: y mandatory;

  /* Makes the container take the full height of the viewport and enables vertical scrolling */
  height: 100vh;
  overflow-y: scroll;
}

.snap-section {
  /* Each section will snap align to the start of the container */
  scroll-snap-align: start;

  /* Optional: makes each section the same height as the viewport */
  height: 100vh;
}

.Projects {
  position: relative; /* Ensures that absolute positioning of children is relative to this container */
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents anything outside this div from being visible */
  z-index: 1; /* Ensures this container is above other base content, adjust as needed */
}

.projects-title {
  position: absolute;
  top: 50%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Ensures centering is precise */
  width: 80vw; /* Responsive width based on viewport size */
  max-width: 600px; /* Maximum width to maintain legibility */
  font-family: "Synthemesc";
  color: rgb(255, 115, 0);
  line-height: 1; /* Tightens the line height around the text */
  margin: 0; /* Removes default margins */
  padding: 0; /* Removes default padding */
  z-index: 2; /* Makes sure the title appears above other elements within the same container */
  display: flex; /* Aligns children elements (like text) with flexbox */
  align-items: center; /* Centers children elements vertically */
  justify-content: center; /* Centers children elements horizontally */
}

.projects-title h1 {
  margin: 0;  
  padding: 0; 
  line-height: 1; 
  font-size: 8rem;
}



.ball-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  z-index: 0;
}

.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #3498db;
  font-family: 'JetBrainsMono-ExtraBold';
}

