body {
  background-image: url("../public/portfolio-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: 'Eighties';
  src: url('../public/EightiesComeback_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lingkawi';
  src: url('../public/LingkawiSouth.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.Banner {
  font-family: 'Eighties';
  color: white;
  position: absolute;
  left: 125px;
  top: 90px;
}

.tagline {
  transform: scaleX(1.1) scaleY(2.5); /* Stretches text 150% horizontally */
  width: 2000px;
  font-size: 3vw;
}

.highlight1 {
  color: #F15A24;
}
.highlight2 {
  color: #39B54A;
}
.highlight3 {
  color: #29ABE2;
}

.initial {
  font-family: 'Lingkawi';
  font-size: 10vw;
}

.initial-container {
  font-family: 'Lingkawi';
  position: absolute;
  top: 75vh; /* Adjust based on design needs */
  left: 75vw; /* Adjust to keep it responsive */
  transform: translate(-50%, -50%); /* Optional: Centering the text block */
}
